body
    background-color #f5f6fa
    font-family: 'Roboto', sans-serif;
    font-family roboto 
h2,h3,h4,h5,ul,body,html
    padding 0px
    margin 0px

.wrapper
    min-height 100vh
    overflow hidden
    .col1
        float left
        position relative
        z-index 999
        width: 17%
    .col2
        float left
        width 83%
.sidebar
    background-color #fff
    min-height 100vh
    .section-top
        background-color red
        box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.15)
    .logo
        display block
        margin 0px auto
        width: 60%
    .user
        color white
        padding 16px
        a 
            color white
    .main
        display block
        margin-top 8px
        ul
            li 
                margin-bottom 4px
                a 
                    text-decoration none
                    color red
                    display block
                    font-size 1.1em
                    padding 12px 16px
                    i
                        margin-right 10px
                    &:hover
                        background-color red
                        box-shadow 0 0.5 1rem rgba(0,0,0,0.15)
                        color white !important
                        text-decoration none
                        
.navbar
    background-color red
    a
        color white
        
.page
    padding-top 16px
    padding-bottom 16px
    .breadcrumb 
        background-color white
        box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.10) !important
        .breadcrumb-item
            padding 10px
            
            a
                text-decoration none
                color red
    .panel
        background-color white
        border-radius 6px
        border-bottom 2px solid red
        width 100%
        .header
            border-bottom 1px solid white
            h2.title 
                display inline-block
                color red
                font-size 1.1em
                padding 16px
        .inside
            padding 16px
.opts
    a
        display inline-block
        border-radius 4px
        border 1px solid red
        padding 8px 12px

.mt16
    margin-top 16px